services:
  db:
    image: postgres:15
    env_file:
      - backend/.env
    container_name: db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - backend/.env
    container_name: web
    environment:
      - POSTGRES_HOST=db
      - REDIS_URL=redis://redis:6379/0
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8001:8000"
    depends_on:
      - db
      - redis
    networks:
      - app-network

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - backend/.env
    container_name: worker
    environment:
      - POSTGRES_HOST=db
      - REDIS_URL=redis://redis:6379/0
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - frontend/.env
    container_name: frontend
    environment:
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3001:3000"
    depends_on:
      - web
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge

